body {
  font-family: Arial;
  background: lightgray;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  position: relative;
}

.save-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: purple;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.card img {
  width: 100%;
}

.content {
  padding: 10px;
}

h2 {
  font-size: 18px;
}

ul {
  padding-left: 20px;
}

li {
  font-size: 13px;
}

.price {
  color: red;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  font-size: 13px;
  color: gray;
}

.buy-btn {
  width: 100%;
  padding: 10px;
  background: #ddd;
  border: none;
  font-weight: bold;
}

.compare {
  text-align: center;
  font-size: 13px;
}
